<aside id="sidebar" class="d-none d-lg-block" aria-label="Main menu">
    <div class="d-flex flex-column h-100 p-3">
        <div class="mb-3">
            <a class="logotype h5 d-block mb-3" href="{{ url_for('main.home') }}">LOGO<span
                    class="small">TYPE</span></a>
            <nav class="nav flex-column">
                <a class="nav-link {{ 'active' if active=='activities' else '' }}"
                    href="{{ url_for('main.activities') }}">Activities</a>
                <a class="nav-link {{ 'active' if active=='add_activity' else '' }}" href="#" data-bs-toggle="modal"
                    data-bs-target="#addModal">Add Activity</a>
                <a class="nav-link {{ 'active' if active=='messages' else '' }}" href="#">Others</a>
            </nav>
        </div>
    </div>
</aside>